.Navbar {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  width: 100%;
  height: 65px;
  background-color: #202327;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  color: white;
  letter-spacing: 00.6px;
}

.Title {
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.Navbar_R ul {
  list-style: none;
  display: flex;
}

.Links {
  font-size: 14px;
  text-decoration: none;
  color: white;
}
li {
  margin-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.Search_Box {
  display: flex;
}

.Search {
  width: 200px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid rgb(211, 210, 210);
  color: white;
  font-size: 10px;
}

.Search_Btn {
  margin-left: 30px;
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid rgb(211, 210, 210);
  color: white;
  font-size: 10px;
}







.dropdown .dropbtn {
  font-size: inherit; 
  text-transform: capitalize; 
  border: none;
  outline: none;
  color: white;
  
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropbtn i {
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202327;
  padding: 20px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.25);
  
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}
.dropdown-content li {
  margin-bottom: 5px;
  margin-left: 0px;
}


@media only screen and (max-width: 414px) { 

  .Title {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
   
  }

  .Navbar_R ul {
    list-style: none;
    display: inline-block;
  }
}