.PaymentMethodScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
letter-spacing: 0.6px;
  color: white;
  font-size: 20px;
}

.Payment_Container {
  padding: 40px;

  height: 300px;
}

.Payment_Container form {
  padding-top: 20px;
  width: 320px;
}

.Payment_Container label {
  font-size: 16px;
  margin-right: 10px;
}

.Payment_Container button {
  right: 0;
  bottom: 10;
  background-color: rgba(255, 255, 255, 0.411);
  border: 0;
  border-radius: 8px;
  width: 100%;
  color: black;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
}
button:focus {
  outline: 0;
}

.Payment_Container button:hover {
  background-color: rgba(255, 255, 255, 0.959);
}

@media only screen and (max-width: 414px) {
  .PaymentMethodScreen {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 35px;
  }
  .PaymentMethod {
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.616);
  }

  .Payment_Container button {
    background-color: rgba(255, 255, 255, 0.815);
    border: 0;
    padding: 10px 15px;
    width: 100%;
    color: black;
    height: 50px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 0;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 0.6px;
  }
}
